.aboutme {
    section {
        display: flex;
        gap: 24px;
        margin: 0 20%;
        padding: 2em;
    }

    div img {
        border: .2em solid #E5E5E5;
        width: 400px;
        height: 400px;
        object-fit: cover;
        border-radius: 12px;
    }
}