.formPage {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .container {
        padding: 2em;
        border-radius: 1em;
        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    }

    h1 {
        text-align: center;
    }

    input {
        width: 90%;
        padding: .7em;
        margin: .5em 0;
        border: 1px solid #ddd;
        border-radius: .5em;
    }

    a {
        text-decoration: none;
        font-weight: bold;
    }

    button {
        width: 100%;
    }
}